node_modules/
build/

# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Ignore transient lock info files created by terraform apply
.terraform.tfstate.lock.info